a{
    color:white;

}
#nav{
    font-family: 'roboto Slab', serif;
    border-bottom:rgb(49, 215, 236) 3px solid;
}
.social-link{
    background-color: rgb(0, 0, 0)
}
.page-footer{
    font-family: 'roboto Slab', serif;
    background-color: black;
}